$zero:0;

//Fonts
$sans:'Open Sans', sans-serif;

//Colors
$menu:#292929;
$widgetHover:#5e5e5e9d;
$white:white;
$whiteOp:rgba(255, 255, 255, 0.25);
$widgetActive:#424141ef;
$black: black;
$blue:blue;
$blackOp: rgba(0, 0, 0, 0.767);
$widgetText:#EDEDED;
$widgBtnColor:#4C4C4C;
$widgBtnHover:#5a5a5a;
$winStartBg:#2B2B2B;
$winStartDown:#1E2225;
$winStartBorder:#424344;
$winSearchPink:#DB9EE5;
$winStartColor:#CDCDCD;
$winStartHover:#5a5a5ab0;
$appHover:#363737;
$powerBg:#2B2C2C;
$searchSettings:#353535;
$settingsBg:#404040;
$searchSettingsHover:#272727;
$browser:#1C1B22;
$browserPageBg:#35343A;
$browserSearchBg:#2B2A33;
$browserUrl:#929298;
$loginBg:rgba(0, 0, 0, 0.899);

//Tetris variables
$tetrisBg:#00234983;
$whiteOp:rgba(255, 255, 255, 0.8);
$white:white;
$border:#64E0F2;
$font:#158EA1;
$red:red;